[Unit]
Description=R36 Early Variant Detection
After=local-fs.target
Before=batt_led.service emulationstation.service multi-user.target
# Ensures it runs very early, before the LED service and UI

[Service]
Type=oneshot
ExecStart=/usr/local/bin/r36_config.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target